* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #fcf7f2;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    height: 1800px;
}

.scroll {
    color: #ccc;
    letter-spacing: 2px;
    margin: 180px 60px;
}

.sentence1 {
    position: fixed;
    top: 250px;
    left: 60px;
    font-size: 28px;
    color: #333;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    letter-spacing: 1px;
}

.sentence1 p, .sentence2 p {
    margin-top: 20px;
}

.sentence2 {
    font-size: 28px;
    color: #333;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    letter-spacing: 1px;
    margin: 1501px 60px;
}

.name {
    padding-top: 50px;
    margin-left: 480px;
    color: #605f83;
    font-size: 18px;
    letter-spacing: 2px;
}







